/* Work sans font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap');

/* Universal and body declaration */
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Work Sans', sans-serif;
}
body img{
  width: 100%;
}

/* Css Custom Variables */
:root{
  --color-primary: #FF900E1A;
  --color-secondary: #FFF4E7;
  --font-color-one: #131313;
  --font-color-two:  #424242;
  --font-color-three:  #727272;
  --font-color-four:  #FFFFFF;
  --font-color-: #FF900E;
  --button-color: #FF900E;
}

/* Header and nav styles */
.header-container{
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
}
.left-side{
  font-weight: 700;
  font-size: 30px;
  color: var(--font-color-one);
}
.right-side{
  font-weight: 500;
  font-size: 18px;
}
.nav-items{
  display: flex;
  gap: 50px;
}
.right-side a{
  color: var(--font-color-two);
}

/* Banner styles */
.banner-container{
  background-color: var(--color-primary);
}
.banner-items{
  text-align: center;
}
.banner-title{
  font-weight: 700;
  font-size: 60px;
  color: var(--font-color-one);
  padding: 80px 300px 30px;
}
.banner-description{
  font-weight: 400;
  font-size: 16px;
  color: var(--font-color-three);
  padding: 0 300px 30px;
}
.btn-primary{
  width: 180px;
  height: 60px;
  font-weight: 600;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  background-color: var(--button-color);
  color: var(--font-color-four);
}
.banner-cover{
  margin: 0 auto;
  width: 900px;
  padding: 50px 0; 
}

/* Quick list styles */
.quick-list-container{
  margin: 0 auto;
  margin-top: 50px;
  width: 800px;
  display: grid;
  gap: 70px;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.quick-list-container .left-side{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}
.quick-list-title{
  font-weight: 500;
  font-size: 45px;
  margin-bottom: 25px;
}
.title-one{
  color: var(--font-color-three);
}
.title-two{
  color: var(--font-color-one);
}
.title-three{
  color: var(--font-color-);
}
.quick-list-description{
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 30px;
  color: var(--font-color-three);
}







