/* Work sans font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap');

/* Universal and body declaration */
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Work Sans', sans-serif;
}
body img{
  width: 100%;
}

/* Css Custom Variables */
:root{
  --color-primary: #FF900E1A;
  --color-secondary: #FFF4E7;
  --font-color-one: #131313;
  --font-color-two:  #424242;
  --font-color-three:  #727272;
  --font-color-four:  #FFFFFF;
  --font-color-five: #FF900E;
  --button-color: #FF900E;
}

/* Header and nav styles */
.header-container{
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
}
.header-container .left-side{
  font-weight: 700;
  font-size: 30px;
  color: var(--font-color-one);
}
.header-container .right-side{
  font-weight: 500;
  font-size: 18px;
}
.nav-items{
  display: flex;
  gap: 50px;
}
.header-container .right-side a{
  color: var(--font-color-two);
}

/* Banner styles */
.banner-container{
  background-color: var(--color-primary);
}
.banner-items{
  text-align: center;
}
.banner-title{
  font-weight: 700;
  font-size: 60px;
  color: var(--font-color-one);
  padding: 80px 300px 30px;
}
.banner-description{
  font-weight: 400;
  font-size: 16px;
  color: var(--font-color-three);
  padding: 0 300px 30px;
}
.btn-primary{
  width: 180px;
  height: 60px;
  font-weight: 600;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  background-color: var(--button-color);
  color: var(--font-color-four);
}
.banner-cover{
  margin: 0 auto;
  width: 900px;
  padding: 50px 0; 
}

/* Quick list styles */
.quick-list-container{
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 100px;
  width: 800px;
  display: flex;
  gap: 70px;
  align-items: center;
}
.quick-list-container .left-side{
  width: 50%;
}
.quick-list-container .right-side{
  width: 50%;
}
.quick-list-container .left-side{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}
.quick-list-title{
  font-weight: 500;
  font-size: 45px;
  margin-bottom: 25px;
}
.title-one{
  color: var(--font-color-three);
}
.title-two{
  color: var(--font-color-one);
}
.title-three{
  color: var(--font-color-five);
}
.quick-list-description{
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 30px;
  color: var(--font-color-three);
}

/* Feature section styles */
.feature-container{
  margin: 0 auto;
  width: 900px;
  display: flex;
  gap: 80px;
  align-items: center;
}
.feature-container .left-side{
  width: 50%;
}
.feature-container .right-side{
  width: 50%;
}
.feature-title{
  font-weight: 700;
  font-size: 45px;
  padding-left: 20px;
  border-left: 5px solid var(--font-color-five);
  margin-bottom: 20px;
  color: var(--font-color-one);
}
.feature-description{
  font-weight: 400;
  font-size: 16px;
  color: var(--font-color-three);
  margin-bottom: 20px;
}
.feature-container .card{
  height: 100px;
  background: var(--font-color-four);
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 20px;
}
.feature-container .card-title{
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--font-color-one);
}
.feature-container .card-description{
  font-weight: 400;
  font-size: 16px;
  color: var(--font-color-three);
}

/* Some fact styles */
.somefact-container{
  margin-top: 120px;
  margin-bottom: 100px;
}
.somefact-title{
  font-weight: 700;
  font-size: 45px;
  padding-left: 220px;
  margin-bottom: 25px;
  color: var(--font-color-one);
}
.somefact-description{
  width: 520px;
  font-weight: 400;
  font-size: 16px;
  margin-left: 220px;
  margin-bottom: 100px;
  color: var(--font-color-three);
}
.card-items{
  display: flex;
  justify-content: space-around;
}
.somefact-container .card{
  border: 1px solid var(--button-color);
  border-radius: 8px;
  width: 200px;
}
.somefact-container .card img{
  width: 45px;
  padding: 25px 75px 5px;
}
.somefact-container .card-title{
  font-weight: 600;
  font-size: 45px;
  color: var(--font-color-two);
  margin-bottom: 5px;
  text-align: center;
}
.somefact-container .card-description{
  font-weight: 600;
  font-size: 20px;
  color: var(--font-color-three);
  margin-bottom: 10px;
  text-align: center;
}









